In [1]:
## REQUIRED LIBRARIES
# For data wrangling 
import numpy as np
import pandas as pd

# For visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [42]:
df = pd.read_csv('../data/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [45]:
df = df.drop(["RowNumber", "CustomerId", "Surname"], axis = 1)

In [46]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [48]:
df.to_csv('../data/churn_modelling.csv')

## Visualize statistics

In [4]:
TRAIN_DATA_FILE = '../data/churn_modelling.csv'
TARGET_FEATURE_NAME = 'Exited'
HEADERS = ['CreditScore','Geography','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Exited']

print(TRAIN_DATA_FILE)

../data/churn_modelling.csv

In [2]:
# Import tensorflow data validation
import tensorflow_data_validation as tfdv

In [5]:
train_stats = tfdv.generate_statistics_from_csv(
    data_location=TRAIN_DATA_FILE )

WARNING:apache_beam.io.tfrecordio:Couldn't find python-snappy so the implementation of _TFRecordUtil._masked_crc32c is not as fast as it could be.

WARNING:tensorflow:From /home/profnick/anaconda3/envs/ztdl/lib/python3.6/site-packages/tensorflow_data_validation/utils/stats_util.py:227: tf_record_iterator (from tensorflow.python.lib.io.tf_record) is deprecated and will be removed in a future version.
Instructions for updating:
Use eager execution and:
`tf.data.TFRecordDataset(path)`

WARNING:tensorflow:From /home/profnick/anaconda3/envs/ztdl/lib/python3.6/site-packages/tensorflow_data_validation/utils/stats_util.py:227: tf_record_iterator (from tensorflow.python.lib.io.tf_record) is deprecated and will be removed in a future version.
Instructions for updating:
Use eager execution and:
`tf.data.TFRecordDataset(path)`

In [6]:
tfdv.visualize_statistics(train_stats)

In [52]:
schema = tfdv.infer_schema(statistics=train_stats)
tfdv.display_schema(schema=schema)

                     Type  Presence Valency       Domain
Feature name
''                 INT     required          -
'CreditScore'      INT     required          -
'Geography'        STRING  required          'Geography'
'Gender'           STRING  required          'Gender'
'Age'              INT     required          -
'Tenure'           INT     required          -
'Balance'          FLOAT   required          -
'NumOfProducts'    INT     required          -
'HasCrCard'        INT     required          -
'IsActiveMember'   INT     required          -
'EstimatedSalary'  FLOAT   required          -
'Exited'           INT     required          -

                                   Values
Domain
'Geography'  'France', 'Germany', 'Spain'
'Gender'     'Female', 'Male'

## Infer schema